.dark-mode-switch {
    margin-top: 10px;
    text-align: center;
}

.spinner-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    height: 100vh;          /* Ensures the container takes full viewport height */

}


